<page-header [config]="pageHeader"></page-header>

<div class="page page-large" *ngIf="campaign">
	<div class="campaign-image">
		<img [imgAttrs]="campaign" [imgType]="'campaign'" [imgSrc]="campaignImage">
		<a [routerLink]="'/user/'+campaign.owner" class="owner-image">
			<img [imgAttrs]="{ 'username': campaign.owner }" [imgType]="'user'" [imgSrc]="ownerImage"
				[tooltip]="campaign.owner">
		</a>
	</div>

	<div class="row">
		<div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
			<h1>{{ campaign.title | stranslate }}</h1>
			<h2>
				<span *ngIf="event && event.article.title">{{event.article.title}}. </span>
				{{campaign.start|date:'longDate'}} <span *ngIf="campaign.end != null">&middot; {{campaign.end | timediff}}</span>
			</h2>

			<div class="padding-top-bottom-15">
				<progress-bar [config]="progressBarConfig"></progress-bar>
			</div>
		</div>
		<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 text-lg-right text-md-right">
			<button *ngIf="campaign.target > campaign.received" [disabled]="!canDonate" [ngClass]="{'disabled': !canDonate}" class="btn btn-info btn-block margin-bottom-5" (click)="donate ()" translate>Donate</button>
			<social-share [socialConfig]="socialShare.config" [socialStyle]="socialShare.style"></social-share>
		</div>
	</div>

	<hr>

	<h1 class="border-bottom border-red" translate>Description</h1>

	<div class="row">
		<div class="col-xs-12">
			<p [innerHtml]="campaign.description | linkyCompile"></p>
		</div>
	</div>


	<div class="infobox alert alert-info">
		<p class="info-description text-center font-90" role="alert">
			<span translate>This user is responsible for the text and graphic material in this Fundraising Campaign. Helperbit denies any responsibility and suggest to contact the platform at info@helperbit.com to notify any form of violation.</span>
		</p>
	</div>

	<hr>

	<h1 class="border-bottom border-red" translate>Project</h1>

	<div *ngIf="project">
		<project-landscape class="hidden-sm hidden-xs" [project]="project" [donate]="false"></project-landscape>
		<div class="hidden-lg hidden-md hidden-xl">
			<div class="col-sm-3 hidden-xs"></div>
			<div class="col-sm-6 col-xs-12 panel-container">
				<project [project]="project" [donate]="false"></project>
			</div>
			<div class="col-sm-3 hidden-xs"></div>
		</div>
	</div>
	
	<hr>

	<h1 class="border-bottom border-red" translate>Donations</h1>

	<donation-list [config]="listConfig"></donation-list>
</div>
