<div class="seo-footer padding-lg-top-bottom-75 padding-md-top-bottom-75 padding-sm-top-bottom-75 padding-xs-top-50 padding-xs-bottom-25">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding-bottom-75 text-center">
				<img src="/media/logo_white.svg" alt="Helperbit" style="opacity: 0.65;" width="100px">
			</div>
		</div>
		<div class="row">
			<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
				<h1 class="border-left border-red padding-left-15">Information</h1>
				<ul>
					<li>
						<a routerLink="/i/manifesto">
							<i class="fa fa-angle-double-right"></i>
							<span translate>Helperbit's Manifesto</span>
						</a>
					</li>
					<li>
						<a routerLink="/i/multisignature-wallet">
							<i class="fa fa-angle-double-right"></i>
							<span translate>Multisignature Bitcoin Wallet</span>
						</a>
					</li>
					<li>
						<a routerLink="/i/donations">
							<i class="fa fa-angle-double-right"></i>
							<span translate>Donations</span>
						</a>
					</li>
					<li>
						<a routerLink="/i/social-projects">
							<i class="fa fa-angle-double-right"></i>
							<span translate>Projects</span>
						</a>
					</li>
					<li>
						<a routerLink="/i/fundraising-campaigns">
							<i class="fa fa-angle-double-right"></i>
							<span translate>Fundraising Campaigns</span>
						</a>
					</li>
				</ul>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 text-lg-center text-md-center">
				<h1 class="hidden-sm hidden-xs">&nbsp;</h1>
				<ul>
					<li>
						<a routerLink="/i/trust-level">
							<i class="fa fa-angle-double-right"></i>
							<span translate>Verification and Trust Level of a single user</span>
						</a>
					</li>
					<li>
						<a routerLink="/i/legal-body-verify">
							<i class="fa fa-angle-double-right"></i>
							<span translate>Verification process for a Legal Body</span>
						</a>
					</li>
					<li>
						<a routerLink="/i/geolocalization">
							<i class="fa fa-angle-double-right"></i>
							<span translate>Geolocalization</span>
						</a>
					</li>
					<li>
						<a routerLink="/i/propose-noprofit">
							<i class="fa fa-angle-double-right"></i>
							<span translate>Propose Non-Profit Organizations</span>
						</a>
					</li>
					<li>
						<a routerLink="/i/badges">
							<i class="fa fa-angle-double-right"></i>
							<span translate>Badges</span>
						</a>
					</li>
					<li>
						<a routerLink="/i/ambassador">
							<i class="fa fa-angle-double-right"></i>
							<span translate>Ambassador</span>
						</a>
					</li>
				</ul>

					<!--
				<ul>
					<li>
						<a routerLink="/i/advanced-donations">
							<i class="fa fa-angle-double-right"></i>
							<span translate>Advanced Donations</span>
						</a>
					</li>
					<li>
						<a routerLink="#">
							<i class="fa fa-angle-double-right"></i>
							<span translate>Ror</span>
						</a>
					</li>
					<li>
						<a routerLink="#">
							<i class="fa fa-angle-double-right"></i>
							<span translate>User geolocalization</span>
						</a>
					</li>-->
			</div>
			<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 text-lg-right text-md-right padding-sm-top-25 padding-xs-top-25">
				<h1 class="border-lg-right border-md-right border-sm-left border-xs-left border-red padding-lg-right-15 padding-md-right-15 padding-sm-left-15 padding-xs-left-15">About</h1>
				<ul>
					<li>
						<a routerLink="/about">
							<i class="fa fa-angle-double-right hidden-lg hidden-md"></i>
							<span translate>About Helperbit</span>
							<i class="fa fa-angle-double-left hidden-sm hidden-xs"></i>
						</a>
					</li>
					<li>
						<a routerLink="/about" fragment="whysignup">
							<i class="fa fa-angle-double-right hidden-lg hidden-md"></i>
							<span translate>Why signup</span>
							<i class="fa fa-angle-double-left hidden-sm hidden-xs"></i>
						</a>
					</li>
					<li>
						<a routerLink="/about" fragment="whyhelperbit">
							<i class="fa fa-angle-double-right hidden-lg hidden-md"></i>
							<span translate>Why Helperbit</span>
							<i class="fa fa-angle-double-left hidden-sm hidden-xs"></i>
						</a>
					</li>
					<li>
						<a routerLink="/about/faq">
							<i class="fa fa-angle-double-right hidden-lg hidden-md"></i>
							<span translate>FAQ</span>
							<i class="fa fa-angle-double-left hidden-sm hidden-xs"></i>
						</a>
					</li>
					<li>
						<a routerLink="/about" fragment="team">
							<i class="fa fa-angle-double-right hidden-lg hidden-md"></i>
							<span translate>Team</span>
							<i class="fa fa-angle-double-left hidden-sm hidden-xs"></i>
						</a>
					</li>
				</ul>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
				<h1 class="border-left border-red padding-left-15">Privacy & Terms</h1>
				<ul>
					<li>
						<a routerLink="/terms">
							<i class="fa fa-angle-double-right"></i>
							<span translate>Terms of Service</span>
						</a>
					</li>
					<li>
						<a routerLink="/privacy">
							<i class="fa fa-angle-double-right"></i>
							<span translate>Privacy Policy</span>
						</a>
					</li>
				</ul>
			</div>
			<!-- <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center text-color-white padding-lg-top-50 padding-md-top-50 padding-sm-top-30 padding-xs-top-15 font-size-percentage-85">
				&copy; Helperbit s.r.l. <span translate>All rights reserved</span> <span class="hidden-xs">-</span> <br class="hidden-lg hidden-md hidden-sm"> PI: 13844091002
			</div> -->
		</div>
		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
				<button class="btn btn-default btn-lg btn-xs-block btn-subscribe padding-15 margin-top-30" (click)="openSubscribeModal()">
					<i class="fa fa-envelope hidden-xs"></i> <span translate>Subscribe to Newsletter</span>
				</button>
			</div>
		</div>
	</div>
</div>