@import '../../../sass/const.scss';

:host {

	.firsttime {
		background: linear-gradient(to right, $firstTimeFrom, $yellow);
		//padding: 10px;
		padding: 0px;
		color: white;
		font-family: $regularFont;
		border-radius: 0px !important;
		margin-bottom: 0;
		
		.content {
			width: 90%;
			margin-left: auto;
			margin-right: auto;
			padding: 10px 10px 20px 10px;

			@media (max-width: #{$breakpointXsMax}) {
				width: 100%;
				margin-left: auto;
				margin-right: auto;
			}
		}

		.btn {
			// width: 30%; 
			box-shadow: 0px 12px 22px rgba(3,72,127,0.3);

			@media (max-width: #{$breakpointXsMax}) {
				// width: 50%;
			}
		}

		h3 {
			font-weight: bold;
			font-family: $boldFont;
		}

		p {
			font-size: 115%;
		}

		.coin {
			margin-bottom: 10px;
			
			& > img {
				margin-top: 15px;
				-webkit-filter: drop-shadow(5px 5px 5px #222);
				filter: drop-shadow(5px 5px 5px #222);
				margin-right: 10px;
				margin-left: 10px;
			}
		}

		.video {
			width: 460px;
			height: 250px;
			background: url("/media/landing/video/a.png") no-repeat;
			display: inline-block;
			box-shadow: 0px 12px 22px rgba(3,72,127,0.3);
			
			&:hover {
				background: url("/media/landing/video/b.png") no-repeat;
			}
		}
	}
}