<div class="firsttime panel panel-body margin-bottom-0" style="border: 0;">
    <div class="content row">
        <div class="col-lg-7 col-md-7 col-xs-12 col-sm-12">
            <h3 translate>Helperbit: the most innovative way to fundraise</h3>
            <p>
                <i class="fa fa-check"></i>
                <span translate>TRANSPARENT - We use Blockchain technology to offer full transparency of economic flows</span>
            </p>
            <p>
                <i class="fa fa-check"></i>
                <span translate>FREE - No membership fee or hidden costs</span>
            </p>
            <p>
                <i class="fa fa-check"></i>
                <span translate>SECURE - You have full control of your funds with Helperbit Multisig Bitcoin Wallet</span>
            </p>
            <p>
                <i class="fa fa-check"></i>
                <span translate>POWERFUL - Bitcoin and Altcoin supported</span>
                <!-- Credit/Debit Cards,  -->
                <!--with easy-to-use donation Widget-->
            </p>
            <br>
            <div align="center">
                <a routerLink="/signup" class="btn btn-lg btn-danger" translate>Signup now</a>
            </div>

            <!-- <div align="center" class="coin">
                <img src="/media/landing/bitcoin.png" alt="Donate with Bitcoin - Helperbit" />
                <img src="/media/landing/ethereum.png" alt="Donate with Ethereum - Helperbit" />
				<img src="/media/landing/litecoin.png" alt="Donate with Litecoin - Helperbit" />
                <img src="/media/landing/visa.png" alt="Donate with Visa - Helperbit" />
                <img src="/media/landing/mastercard.png" alt="Donate with MasterCard - Helperbit" />
            </div> -->
        </div>
        <div class="col-lg-5 col-md-5 hidden-xs hidden-sm">
            <div class="margin-top-20" align="center">
                <a href="https://www.youtube.com/watch?v=uO4bn4e7A2A" target="_blank">
                    <div class="video"></div>
                </a>
            </div>
        </div>
    </div>
	<home-stats></home-stats>
</div>