<modal [config]="modals.endorsmentDone">
	<div class="modal-content">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
					aria-hidden="true">&times;</span></button>
			<h4 class="modal-title" id="myModalLabel" translate>Endorse an organization</h4>
		</div>
		<div class="modal-body text-color-black" align="center">
			<div align="center"><i class="fa fa-check-circle text-color-green" style="font-size:700%;"></i></div>
			<br>
			<p translate>Your endorsment has been saved.</p>
		</div>
		<div class="modal-footer">
			<button type="button" class="btn btn-danger" data-dismiss="modal" translate>Close</button>
		</div>
	</div>
</modal>

<modal [config]="modals.endorsmentFail">
	<div class="modal-content">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
					aria-hidden="true">&times;</span></button>
			<h4 class="modal-title" id="myModalLabel" translate>Endorse an organization</h4>
		</div>
		<div class="modal-body text-color-black" align="center">
			<div align="center"><i class="fa fa-times-circle text-color-red" style="font-size:700%;"></i></div>
			<br>
			<p translate>You have already endorsed this organization.</p>
		</div>
		<div class="modal-footer">
			<button type="button" class="btn btn-danger" data-dismiss="modal" translate>Close</button>
		</div>
	</div>
</modal>

<div class="tools-page-template main-content display-flex display-flex-row height-percentage-100 width-percentage-100">
	<div class="display-flex display-flex-column display-flex-grow-1 box-content">
		<div class="top-content">
			<div class="row padding-top-bottom-10 margin-right-left-0">
				<div class="col-lg-4 col-md-4 col-sm-4 col-xs-6 search-box">
					<input type="text" class="form-control" [placeholder]="'Search proposed npo'|translate"
						[(ngModel)]="table.textFilter" (change)="table.updateData()" />
				</div>
				<div
					[ngClass]="{ 'col-lg-2 col-md-3 col-sm-3 col-xs-6': table.selectedVisualizationButton=='grid' && table.resultsVisible.length > 0 }">
					<div class="custom-select"
						*ngIf="table.selectedVisualizationButton=='grid' && table.resultsVisible.length > 0">
						<select class="form-control" [(ngModel)]="table.activeSort" (change)="table.updateData()">
							<option value="" disabled>Sort by</option>
							<optgroup label="Ascendent &#11015;">
								<option *ngFor="let sort of table.sortOptionsAsc" [hidden]="!sort.show" [ngValue]="sort"
									[selected]="table.activeSort.sort==sort.sort && table.activeSort.sortBy==sort.sortBy">
									{{ sort.label | stranslate }} </option>
							</optgroup>
							<optgroup label="Descendent &#11014;">
								<option *ngFor="let sort of table.sortOptionsDesc" [hidden]="!sort.show"
									[ngValue]="sort"
									[selected]="table.activeSort.sort==sort.sort && table.activeSort.sortBy==sort.sortBy">
									{{ sort.label | stranslate }} </option>
							</optgroup>
						</select>
						<div class="arrow"></div>
					</div>
				</div>
				<div [ngClass]="{ 'col-lg-5 col-md-6 col-sm-6 col-xs-12': table.selectedVisualizationButton=='table', 'col-lg-3 col-md-3 col-sm-3 col-xs-12': table.selectedVisualizationButton=='grid' }"
					class="margin-xs-top-15">
					<button class="btn btn-default" (click)="propose()" translate>Propose an NPO</button>
				</div>
				<div class="col-lg-3 col-md-2 col-sm-2 hidden-xs text-right">
					<buttons-group *ngIf="table.resultsVisible.length > 0" [config]="table.visualizationButtons"
						[(ngModel)]="table.selectedVisualizationButton">
					</buttons-group>
				</div>
			</div>

		</div>

		<div class="display-flex display-flex-column display-flex-grow-1 data-content">
			<div *ngIf="table.resultsVisible.length > 0 && table.selectedVisualizationButton == 'grid'"
				class="data-content-grid row margin-lg-right-15 margin-md-right-15 margin-sm-right-0 margin-xs-right-0 margin-left-0"
				id="visualizationGrid">
				<div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 proposed-npo-box"
					*ngFor="let proposedNpo of table.resultsVisible">
					<div class="country-image">
						<img
							[src]="(proposedNpo.country != 'WRL' ? '/media/countryflags/' + proposedNpo.country + '.png' : '')">
						<i *ngIf="proposedNpo.country == 'WRL'" class="fa fa-globe text-color-yellow"></i>
					</div>
					<div class="info text-center padding-top-10">
						<p class="text-ellipsis margin-bottom-0">
							<external-link [url]="proposedNpo.link" [text]="proposedNpo.name"></external-link>
						</p>
						<p class="margin-bottom-5">({{proposedNpo.country | country}}) +{{proposedNpo.endorsment}}</p>
						<p> <button class="btn btn-success" (click)="endorseProposedNpo(proposedNpo)"> <i
									class="fa fa-thumbs-up text-white"></i>
								<span translate>Endorse</span>
							</button> </p>
					</div>
				</div>
				<div class="col-xs-12 hidden-lg hidden-md hidden-sm margin-bottom-10"
					*ngIf="table.resultsVisible.length < table.pagination.items.length">
					<button class="btn btn-default btn-block" (click)="table.updateData();" translate>Load
						More</button>
				</div>
			</div>

			<table *ngIf="table.resultsVisible.length > 0 && table.selectedVisualizationButton == 'table'"
				class="table table-striped table-responsive display-flex display-flex-column margin-bottom-0 margin-right-left-15 hidden-xs">
				<thead class="separator">
					<tr class="display-flex display-flex-row">
						<th *ngFor="let k of table.columnsList" [ngStyle]="table.columns[k].style"
							[ngClass]="table.columns[k].class">
							{{table.columns[k].label}}
							<span class="sort">
								<i (click)="table.updateData({ sort: table.columns[k].sort.desc.value })"
									*ngIf="table.columns[k].sort.asc.show()" class="fa fa-sort-asc"></i>
								<i (click)="table.updateData({ sort: table.columns[k].sort.asc.value })"
									*ngIf="table.columns[k].sort.desc.show()" class="fa fa-sort-desc"></i>
								<i (click)="table.updateData({ sort: table.columns[k].sort.ascDesc.value })"
									*ngIf="table.columns[k].sort.ascDesc.show()" class="fa fa-sort"></i>
							</span>
						</th>
					</tr>
				</thead>
				<tbody class="display-flex display-flex-column display-flex-grow-1" id="visualizationTable">
					<tr class="display-flex display-flex-row" *ngFor="let proposedNpo of table.resultsVisible">
						<td [ngStyle]="table.columns['country'].style" [ngClass]="table.columns['country'].class"
							class="display-flex display-flex-horizontal-center display-flex-vertical-center">
							<div class="proposed-npo-image">
								<img *ngIf="proposedNpo.country != 'WRL'"
									[src]="'media/country/'+proposedNpo.country+'.svg'" />
								<i *ngIf="proposedNpo.country == 'WRL'" class="fa fa-globe text-color-red"></i>
							</div>
							<div class="proposed-npo-countries text-center text-break-all">
								{{ (proposedNpo.country | country) || '-' }}
							</div>
						</td>
						<td [ngStyle]="table.columns['name'].style" [ngClass]="table.columns['name'].class"
							class="display-flex display-flex-horizontal-center display-flex-vertical-center">
							{{proposedNpo.name}} </td>
						<td [ngStyle]="table.columns['link'].style" [ngClass]="table.columns['link'].class"
							class="display-flex display-flex-horizontal-center display-flex-vertical-center">
							<external-link [url]="proposedNpo.link"></external-link>
						</td>
						<td [ngStyle]="table.columns['endorsment'].style" [ngClass]="table.columns['endorsment'].class"
							class="display-flex display-flex-horizontal-center display-flex-vertical-center">
							{{proposedNpo.endorsment}} </td>
						<td [ngStyle]="table.columns['share'].style" [ngClass]="table.columns['share'].class"
							class="display-flex display-flex-horizontal-center display-flex-vertical-center">
							<social-share [socialConfig]="socialShare.config" [socialStyle]="socialShare.style">
							</social-share>
						</td>
						<td [ngStyle]="table.columns['actions'].style" [ngClass]="table.columns['actions'].class"
							class="display-flex display-flex-horizontal-center display-flex-vertical-center"> <button
								class="btn btn-success" (click)="endorseProposedNpo(proposedNpo)"> <i
									class="fa fa-thumbs-up text-white"></i>
								<span translate class="hidden-xs">Endorse</span>
							</button> </td>
					</tr>
				</tbody>
			</table>

			<div *ngIf="table.resultsVisible.length == 0">
				<h3 class="text-center" translate>No proposed NPO found</h3>
			</div>
		</div>

		<div class="pagination-content hidden-xs" *ngIf="table.resultsVisible.length > 0">
			<div class="row padding-top-bottom-10 margin-right-left-0">
				<div class="col-sm-6 col-xs-12 text-left">
					<pagination [totalItems]="table.pagination.items.length"
						[itemsPerPage]="table.pagination.resultPerPage" [maxSize]="table.pagination.maxPages"
						[boundaryLinks]="true" [(ngModel)]="table.pagination.currentPage"
						(change)="table.changePage($event);">
					</pagination>
				</div>
				<div class="col-sm-6 col-xs-12 text-right text-xs-left">
					<buttons-group [config]="table.pagination" [(ngModel)]="table.pagination.resultPerPage"
						*ngIf="table.pagination.options.length > 1" (change)="table.limitResults($event)"></buttons-group>
				</div>
			</div>
		</div>
	</div>
</div>