<page-header [config]="pageHeader"></page-header>

<div class="static-page-image">
    <img [src]="image.url" [alt]="image.alt">
</div>

<div class="page page-medium margin-top-0 static-page-description">
    <br>
    <translated [lang]="'en'">
        <h1 class="title border-bottom border-red"></h1>
        <p></p>
    </translated>

    <translated [lang]="'it'">
        <h1 class="title border-bottom border-red"></h1>
        <p></p>
    </translated>

    <translated [lang]="'es'">
        <h1 class="title border-bottom border-red"></h1>
        <p></p>
    </translated>
</div>

<seo-footer-component></seo-footer-component>