<page-header [config]="pageHeader"></page-header>

<div class="static-page-image">
    <img [src]="image.url" [alt]="image.alt">
</div>

<div class="page page-medium margin-top-0 static-page-description">
    <br>
    <translated [lang]="'en'">
        <h1 class="title border-bottom border-red">How do the donations work?</h1>
        <p>In Helperbit it is possible to donate to social projects hosted in the platform or to users affected by a natural disaster. In both cases there is a widget, which provides different payment methods and guides the donor in the procedure.</p>
        <hr>
        <h1 class="title border-bottom border-red">How to donate in bitcoin without being registered?</h1>
        <p>It is possible to donate in bitcoin by clicking on the “Donate” button, entering the amount you wish to donate and selecting “bitcoin” as the payment method. When this step is complete, the QR Code shows the information needed to make the transaction (bitcoin address of the beneficiary and the amount to be paid); alternatively, you can only copy the bitcoin address and manually set the desired amount using your personal bitcoin wallet.</p>
        <hr>
        <h1 class="title border-bottom border-red">How to donate using other cryptocurrencies?</h1>
        <p>Thanks to the collaboration with Flyp.me, you can donate using one of the 24 available altcoins: Ethereum, Litecoin, Dash, Zcash, DogeCoin, Syscoin, PeerCoin, BlackCoin, GameCoin, Decred, Flyp Token, Pivx, Vertcoin, 0x, Augur, Basic Attention Token, BLOCKv, Power Ledger, AidCoin, Enjin Coin, DigixDAO, MakerDAO, Groestlcoin, Essentia.
            When the service receives the cryptocurrency that you choose, the entire exchange operation is carried out automatically and within a few minutes, allowing the donor to follow the change in real time and the subsequent sending of the equivalent bitcoin amount to the final recipient.
            If the transaction is completed after 30 minutes, the bitcoin amount is sent to the selected project’s wallet but the transaction is marked as anonymous.
        </p>
        <hr>
        <h1 class="title border-bottom border-red">How to donate in bitcoin using your Helperbit account?</h1>
        <p>First of all, you have to create your own multisignature wallet in Helperbit and send bitcoins (or fraction of bitcoin) to the address you generated. When you have a positive balance, the procedure is simple and safe: you can choose the beneficiary and it is only required to enter the passphrase to confirm the sending of the donation.</p>
        <hr>
        <h1 class="title border-bottom border-red">How to donate using a credit card?</h1>
        <p>The process is very simple, similar to the normal online payment procedures; in the widget you need to click on “credit / debit card” and through an intuitive interface the donor is guided in the next steps. There is no need to buy yourself the bitcoin amount corresponding to how much you want to donate. The local currency is automatically exchanged in bitcoin and sent directly to the chosen beneficiary.</p>
    </translated>

    <translated [lang]="'it'">
        <h1 class="title border-bottom border-red">Come funzionano le donazioni?</h1>
        <p>Su Helperbit è possibile donare ai progetti solidali presenti sulla piattaforma o agli utenti colpiti da una calamità naturale. In entrambe i casi è presente un widget, che fornisce diversi metodi di pagamento e guida il donatore nella procedura.</p>
        <hr>
        <h1 class="title border-bottom border-red">Come donare in bitcoin senza essere registrati?</h1>
        <p>E’ possibile donare in bitcoin cliccando sul bottone “Dona”, inserendo la cifra che si desidera donare e selezionando “bitcoin” come metodo di pagamento. Una volta completato questo passaggio compare il Codice QR contenente le informazioni necessarie (indirizzo a cui donare e importo da versare); in alternativa è possibile copiare il solo indirizzo bitcoin ed impostare manualmente sul proprio portafoglio l’ammontare desiderato.</p>
        <hr>
        <h1 class="title border-bottom border-red">Come donare altre criptovalute?</h1>
        <p>Grazie alla collaborazione con Flyp.me, è possibile donare utilizzando una delle 24 altcoin disponibili: Ethereum, Litecoin, Dash, Zcash, DogeCoin, Syscoin, PeerCoin, BlackCoin, GameCoin, Decred, Flyp Token, Pivx, Vertcoin, 0x, Augur, Basic Attention Token, BLOCKv, Power Ledger, AidCoin, Enjin Coin, DigixDAO, MakerDAO, Groestlcoin, Essentia.
            Una volta che il servizio ha ricevuto la criptovaluta, l’intera operazione di conversione viene svolta in modo automatico e nel giro di alcuni minuti, permettendo al donatore di seguire il cambio in tempo reale ed il successivo invio della cifra equivalente in bitcoin al destinatario finale.
            Nell’eventualità che la transazione avvenga dopo i 30 minuti, i bitcoin arrivano nel portafoglio del progetto selezionato ma l’attribuzione del donatore risulterà essere anonima.
        </p>
        <hr>
        <h1 class="title border-bottom border-red">Come donare in bitcoin utilizzando il tuo account su Helperbit?</h1>
        <p>Per prima cosa è necessario creare il proprio portafoglio in Helperbit ed inviare bitcoin (o frazioni di esso) all’indirizzo creato. Una volta che si ha un saldo positivo la procedura è semplice e sicura: dopo aver selezionato il beneficiario, viene solo richiesto l’inserimento della passphrase per confermare l’invio della donazione.</p>
        <hr>
        <h1 class="title border-bottom border-red">Come donare con carta di credito?</h1>
        <p>Il processo è molto semplice, simile alle normali procedure di pagamento online; nel widget è necessario cliccare su “carta di credito/debito” e tramite un’interfaccia intuitiva il donatore viene guidato nei vari passaggi, senza la necessità di doversi acquistare autonomamente i bitcoin corrispondenti alla cifra da donare. La donazione viene automaticamente convertita in bitcoin ed inviata direttamente al beneficiario scelto.</p>
    </translated>

    <translated [lang]="'es'">
        <h1 class="title border-bottom border-red">¿Cómo funcionan las donaciones?</h1>
        <p>En Helperbit se puede donar a proyectos solidarios presentes en la plataforma o a usuarios afectados por calamidades naturales. En ambos casos, hay un widget que proporciona distintos métodos de pago y guía al donante en el procedimiento.</p>
        <hr>
        <h1 class="title border-bottom border-red">¿Cómo donar en bitcoin sin estar registrado?</h1>
        <p>Se puede donar en bitcoin clicando en el botón “Dona”, introduciendo la cifra deseada y seleccionando “bitcoin” como método de pago. Una vez completado este paso, aparece el código QR que contiene la información necesaria (dirección a la que donar e importe que ingresar); como alternativa, se puede copiar solo la dirección bitcoin e introducir manualmente en su cartera la cifra deseada.</p>
        <hr>
        <h1 class="title border-bottom border-red">¿Cómo donar en otras criptomonedas?</h1>
        <p>Gracias a la colaboración con Flyp.me, se puede donar usando una de las 24 altcoin disponibles: Ethereum, Litecoin, Dash, Zcash, DogeCoin, Syscoin, PeerCoin, BlackCoin, GameCoin, Decred, Flyp Token, Pivx, Vertcoin, 0x, Augur, Basic Attention Token, BLOCKv, Power Ledger, AidCoin, Enjin Coin, DigixDAO, MakerDAO, Groestlcoin, Essentia.
            Cuando el servicio ha recibido la criptomoneda, toda la operación de conversión se da de manera automática en pocos minutos, permitiendo al donante poder seguir el cambio en tiempo real y el sucesivo envío de la cifra equivalente en bitcoin al destinatario final.
            En el caso de que la transacción tenga lugar después de la expiración, los bitcoins llegan a la cartera del proyecto seleccionado, pero la atribución del donante será anónima.
        </p>
        <hr>
        <h1 class="title border-bottom border-red">¿Cómo donar en bitcoin con Helperbit?</h1>
        <p>En primer lugar, hay que crear una cartera personal en Helperbit y enviar bitcoin a la dirección creada. Cuando se obtiene un saldo positivo, el procedimiento es simple y seguro, ya que solo se requiere la introducción de la passphrase para confirmar el envío de la donación.</p>
        <hr>
        <h1 class="title border-bottom border-red">¿Cómo donar con la tarjeta de crédito?</h1>
        <p>El procedimiento es muy sencillo, parecido a los pasos normales de pago online; hay que clicar en el widget en “tarjeta de crédito/débito”y a través de una interfaz intuitiva, se guiará al donante en los pasos siguientes, sin necesidad de tener que comprar autónomamente los bitcoin correspondientes a la cifra que se desea donar. La donación se convierte automáticamente en bitcoin y se envía directamente al beneficiario elegido.</p>
    </translated>
</div>

<seo-footer-component></seo-footer-component>