$color-primary: "254, 139, 55";
$color-secondary: "254, 183, 55";
$image_path: '~material-design-lite/dist/images/' !default;
@import './node_modules/material-design-lite/src/material-design-lite';
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");