<!-- <modal [config]="$ctrl.modals.rorDetails"> -->
	<!-- ROR DETAILS -->
	<!-- <div class="modal-content" *ngIf="$ctrl.modals.rorDetails.status == 'details'">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			<h4 class="modal-title" id="myModalLabel" translate>Refund claim details</h4>
		</div>
		<div class="modal-body">
			<table class="table table-striped tabel-responsive table-bordered">
				<tr>
					<td translate>Status</td>
					<td>
						<span *ngIf="$ctrl.selectedRor.status == 'pending'" [tooltip]="{{'The refund claim is pending for approval'|translate}}" class="label label-warning" translate>Pending</span>
						<span *ngIf="$ctrl.selectedRor.status == 'rejected'" [tooltip]="{{'The refund claim was rejected'|translate}}" class="label label-danger" translate>Rejected</span>
						<span *ngIf="$ctrl.selectedRor.status == 'accepted'" [tooltip]="{{'The refund claim was accepted and waiting for admin signatures'|translate}}" class="label label-success" translate>Accepted</span>
						<span *ngIf="$ctrl.selectedRor.status == 'sent'" [tooltip]="{{'The refund claim was accepted and the money has sent'|translate}}" class="label label-success" translate>Sent</span>
					</td>
				</tr>
				<tr *ngIf="$ctrl.selectedRor.status == 'rejected'">
					<td translate>Reject reason</td>
					<td>{{$ctrl.selectedRor.rejectreason}}</td>
				</tr>
				<tr>
					<td translate>Date</td>
					<td>{{$ctrl.selectedRor.time|date:'medium'}}</td>
				</tr>
				<tr>
					<td translate>From</td>
					<td>{{$ctrl.selectedRor.from}}</td>
				</tr>
				<tr>
					<td translate>To</td>
					<td>{{$ctrl.selectedRor.to}}</td>
				</tr>
				<tr>
					<td translate>Value</td>
					<td>{{$ctrl.selectedRor.value}} <i class="fa fa-{{$ctrl.selectedRor.currency.toLowerCase ()}}"></i></td>
				</tr>
				<tr *ngIf="$ctrl.selectedRor.status == 'pending' || $ctrl.selectedRor.status == 'rejected'">
					<td translate>Actual Bitcoin value</td>
					<td>{{$ctrl.modals.rorDetails.value}} <i class="fa fa-bitcoin"></i></td>
				</tr>
				<tr *ngIf="$ctrl.selectedRor.status != 'pending' && $ctrl.selectedRor.status != 'rejected'">
					<td translate>Bitcoin value</td>
					<td>{{$ctrl.selectedRor.valuebtc}} <i class="fa fa-bitcoin"></i></td>
				</tr>
				<tr>
					<td translate>Description</td>
					<td class="text-ellipsis">{{$ctrl.selectedRor.description}}</td>
				</tr>
				<tr>
					<td translate>Invoicing company VAT</td>
					<td class="text-ellipsis">{{$ctrl.selectedRor.invvat}}</td>
				</tr>
				<tr>
					<td translate>Invoice date</td>
					<td>{{$ctrl.selectedRor.invdate|date}}</td>
				</tr>
				<tr>
					<td translate>Document hash</td>
					<td class="text-ellipsis">
						<a
							href="javascript:void(0)"
							tooltip
							tooltip-content="{{ 'Click to copy' | translate }}"
							copy-to-clipboard="{{$ctrl.selectedRor.hash}}">{{$ctrl.selectedRor.hash}}</a>
					</td>
				</tr>
				<tr>
					<td translate>Document</td>
					<td class="text-ellipsis"><a href="{{$ctrl.selectedRor.documents[0]|media}}" target="_blank">Link</a></td>
				</tr>
				<tr *ngIf="$ctrl.selectedRor.status == 'accepted' && $ctrl.selectedRor.to == $ctrl.username">
					<td translate>Temp transaction</td>
					<td class="text-ellipsis">
						<a routerLink="/transaction/{{$ctrl.selectedRor.txid}}" target="_blank" style="font-size: 65%">{{$ctrl.selectedRor.txid}}</a>
					</td>
				</tr>
				<tr *ngIf="$ctrl.selectedRor.status == 'sent'">
					<td translate>Transaction</td>
					<td class="text-ellipsis">
						<a routerLink="/transaction/{{$ctrl.selectedRor.txid}}" target="_blank" style="font-size: 65%">{{$ctrl.selectedRor.txid}}</a>
					</td>
				</tr>
			</table>

			<div *ngIf="$ctrl.selectedRor.status == 'pending' && $ctrl.selectedRor.to == $ctrl.username">
				<p class="text-center margin-bottom-20" translate>You can reject this request, or approve it and send the requested funds:</p>

				<div class="row">
					<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 text-lg-left text-md-left">
						<button type="button" (click)="$ctrl.goToRejectRor()" class="btn btn-danger btn-sm-block btn-xs-block" translate>Reject</button>
					</div>
					<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 text-lg-right text-md-right margin-sm-top-15 margin-xs-top-15">
						<button type="button" (click)="$ctrl.goToSendFunds ()" class="btn btn-success btn-sm-block btn-xs-block" translate>Send funds</button>
					</div>
				</div>
			</div>
		</div>
	</div> -->

	<!-- REJECT ROR -->
	<!-- <div class="modal-content" *ngIf="$ctrl.modals.rorDetails.status == 'reject'">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			<h4 class="modal-title" id="myModalLabel" translate>Refund claim - Reject</h4>
		</div>
		<div class="modal-body">
			<div class="row">
				<div class="col-xs-12">
					<response-messages [message]="$ctrl.responseMessage"></response-messages>
				</div>
			</div>
	
			<wizard id="rorsReject" name="wizardRorsReject" template="/shared/templates/angular-wizard/wizard.html" indicators-position="top">
				<wz-step wz-title="{{ $ctrl.formRorsDetailsReject.step1.titles.main }}" wz-heading-title="{{ $ctrl.formRorsDetailsReject.step1.titles.heading }}">
					<div class="row">
						<div class="col-xs-12">
							<h5 class="text-center">{{ $ctrl.formRorsDetailsReject.step1.titles.description }}</h5>
						</div>
					</div>
					<formly-form form="$ctrl.formRorsDetailsReject.step1.form.value" model="$ctrl.formRorsDetailsReject.step1.model" fields="$ctrl.formRorsDetailsReject.step1.fields">
						<div class="row margin-top-15">
							<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 text-lg-left text-md-left">
								<button
									(click)="$ctrl.cancelRejectRor()"
									class="btn btn-info btn-sm-block btn-xs-block"
									translate>Cancel</button>
							</div>
							<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 text-lg-right text-md-right margin-sm-top-15 margin-xs-top-15">
								<button
									(click)="$ctrl.formRorsDetailsReject.step1.submit()"
									class="btn btn-default btn-sm-block btn-xs-block"
									translate>Send</button>
							</div>
						</div>
					</formly-form>
				</wz-step>
				<wz-step wz-title="{{ $ctrl.formRorsDetailsReject.finish.titles.main }}">
					<div class="row">
						<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 completed-img">
							<img src="/media/completed-green.png">
						</div>
						<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 margin-top-20 completed-text">
							<p translate>Refund claim successfull sent.</p>
						</div>
					</div>
				</wz-step>
			</wizard>
		</div>
	</div> -->

	<!-- SEND FUNDS -->
	<!-- <div class="modal-content" *ngIf="$ctrl.modals.rorDetails.status == 'sendFunds'">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			<h4 class="modal-title" id="myModalLabel" translate>Refund claim - Send funds</h4>
		</div>
		<div class="modal-body">
			<div class="row">
				<div class="col-xs-12">
					<response-messages [message]="$ctrl.responseMessage"></response-messages>
				</div>
			</div>
	
			<wizard id="rorsSend" name="wizardRorsSend" template="/shared/templates/angular-wizard/wizard.html" indicators-position="top">
				<wz-step wz-title="{{ $ctrl.formRorsDetailsSend.step1.titles.main }}" wz-heading-title="{{ $ctrl.formRorsDetailsSend.step1.titles.heading }}">
					<div class="row">
						<div class="col-xs-12">
							<h5 class="text-center">{{ $ctrl.formRorsDetailsSend.step1.titles.description }}</h5>
						</div>
					</div>

					<wallet-list [config]="$ctrl.walletList" (selected)="modals.rorDetails.wallet = $event;"></wallet-list>

					<div class="row margin-top-15">
						<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 text-lg-left text-md-left">
							<button
								(click)="$ctrl.cancelRejectRor()"
								class="btn btn-info btn-sm-block btn-xs-block"
								translate>Cancel</button>
						</div>
						<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 text-lg-right text-md-right margin-sm-top-15 margin-xs-top-15">
							<button
								(click)="$ctrl.formRorsDetailsSend.step1.submit()"
								class="btn btn-default btn-sm-block btn-xs-block"
								translate>Proceed</button>
						</div>
					</div>
				</wz-step>
				<wz-step wz-title="{{ $ctrl.formRorsDetailsSend.finish.titles.main }}">
					<div class="row">
						<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 completed-img">
							<img src="/media/completed-green.png">
						</div>
						<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 margin-top-20 completed-text">
							<p translate>Refund claim successfull sent.</p>
						</div>
					</div>
				</wz-step>
			</wizard>
		</div>
	</div> -->
<!-- </modal> -->


<!-- <modal-inner [config]="$ctrl.modals.confirm"></modal-inner> -->

<page-header [config]="pageHeader"></page-header>

<div class="row">
	<div class="col-lg-2 col-sm-12 col-xs-12 col-md-2 page-composable-col" style="top: 0px; position: sticky;">
		<div class="page page-composable">
			<sidebar-component></sidebar-component>
		</div>
	</div>
	<div class="col-lg-8 col-md-10 col-sm-12 col-xs-12 page-composable-col">
		<div class="page page-composable padding-25">
			<div class="row">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 margin-bottom-20">
					<info-box [config]="infoBox"></info-box>
				</div>
			</div>
		
			<div class="row" [ngClass]="{ 'padding-bottom-20': rors.length > 0 }">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
					<button [disabled]="createDisable" class="btn btn-danger btn-xs-block" (click)="createRor()" translate>Create a refund claim</button>
				</div>
			</div>

			<div class="row" *ngIf="rors.length > 0">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<response-messages [message]="responseMessage"></response-messages>

					<!--TODO - Response Messages-->
					<!-- <div *ngIf="error.error == 'EROR3'" class="alert alert-danger" role="alert" translate>Can't remove this refund claim</div> -->

					<table class="table table-striped table-responsive margin-bottom-0">
						<thead class="separator">
							<tr>
								<th class="text-center" translate>Receipt</th>
								<th class="text-center hidden-xs" translate>Time</th>
								<th class="text-center" translate>Value</th>
								<th class="text-center" translate>Status</th>
								<th class="text-center" translate>Actions</th>
							</tr>
						</thead>
						<tbody>
							<tr *ngFor="let ror of rors">
								<td class="text-center" *ngIf="ror.from == username">
									<span translate>To:</span>
									<a routerLink="/user/{{ror.to}}" target="_blank">{{ror.to}}</a>
								</td>
								<td class="text-center" *ngIf="ror.from != username">
									<span translate>From:</span>
									<a routerLink="/user/{{ror.from}}" target="_blank">{{ror.from}}</a>
								</td>
								<td class="text-center hidden-xs">{{ror.time|date}}</td>
								<td class="text-center">{{ror.value}} <i class="fa fa-{{ror.currency.toLowerCase ()}}"></i></td>
								<td class="text-center">
									<span *ngIf="ror.status == 'pending'" [tooltip]="'The refund claim is pending for approval' | translate" class="label label-warning" translate>Pending</span>
									<span *ngIf="ror.status == 'rejected'" [tooltip]="'The refund claim was rejected' | translate" class="label label-danger" translate>Rejected</span>
									<span *ngIf="ror.status == 'accepted'" [tooltip]="'The refund claim was accepted and waiting for admin signatures' | translate" class="label label-success" translate>Accepted</span>
									<span *ngIf="ror.status == 'sent'" [tooltip]="'The refund claim was accepted and the money has sent' | translate" class="label label-success" translate>Sent</span>
								</td>
								<td class="text-center">
									<div [ngClass]="{ 'btn-group' : browserHelperService.currentResolution != 'xs' }">
										<button class="btn btn-danger"
											*ngIf="ror.status == 'pending' && ror.from == username"
											(click)="openConfirmDeleteRor (ror._id)">
											<i class="fa fa-trash"></i>
										</button>
										<button class="btn btn-info margin-xs-top-5" (click)="detailsRor (ror)">
											<i class="fa fa-eye"></i>
										</button>
									</div>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>
