:host {
  .contact-box {
    max-width: 800px;
    margin: 0 auto;
    background-color: #fefefe;
    padding: 20px;
    border-radius: 5px;

    button {
      max-width: 304px;
      margin: 0 auto;
    }
  }
}
