@media screen {
	#printSectionAdmins {
		display: none;
	}
}

@page {
	size: auto;
	margin-top: 0mm;
	margin-bottom: 0mm;
	margin-left: 17.5mm;
}

@media print {
	::ng-deep body, ::ng-deep * {
		visibility: hidden;
	}

	#printSectionAdmins, #printSectionAdmins * {
		visibility: visible;
	}

	#printSectionAdmins {
		font-family: "Times New Roman", Times, serif !important;
		position: absolute;
		left: 0;
		top: 0;
		// width: 175%;
	}
}

:host {
	.admins-custom-label  label.control-label {
		font-size: 85% !important;
		font-weight: normal !important;
	}
}