<div class="modal-header">
	<button type="button" class="close" aria-label="Close" (click)="dismiss()"> <span aria-hidden="true">&times;</span> </button>
	<h1 class="modal-title" id="myModalLabel">{{config.title}}</h1>
</div>

<div class="modal-body">
	<h4 class="margin-bottom-30 text-center">{{config.description}}</h4>

	<div class="elements-content elements-images" *ngIf="config.type == 'image'">
		<!-- TODO questo input può avere diverse tipologie grafice di elementi selezionabili, quella commentata è con delle immagini grandi e un testo sottostante -->
		<div class="element" *ngFor="let element of config.elements">
			<div class="coverflow"
				[ngStyle]="{ 'background-image': 'url(' + element.imgUrl + ')'}"
				[ngClass]="{ 'selected': selected && selected.title == element.title }"
				(click)="selected = element">
				<div class="selected-box">
					<i class="fa fa-check-circle-o text-color-white"></i>
				</div>
			</div>
			<p class="info text-center text-ellipsis padding-10">
				<a [href]="element.href" target="_blank">{{element.title | stranslate}}</a>
			</p>
		</div>
	</div>

	<div class="elements-content elements-avatar" *ngIf="config.type == 'avatar'">
		<!-- TODO questo input può avere diverse tipologie grafice di elementi selezionabili, quella commentata è con delle immagini grandi e un testo sottostante -->
		<div class="element" *ngFor="let element of config.elements" [ngClass]="{ 'selected': selected && selected.id == element.id }">
			<div class="avatar"
				[ngClass]="{ 'selected': selected && selected.title == element.title }"
				(click)="selected = element">
				<img [src]="element.imgUrl" [alt]="element.imgAlt">
				<div class="selected-box">
					<i class="fa fa-check-circle-o text-color-white"></i>
				</div>
			</div>
			<p class="info text-center text-ellipsis padding-10">
				<a [href]="element.href" target="_blank">{{element.title | stranslate}}</a>
			</p>
		</div>
	</div>

	<div class="elements-content elements-project" *ngIf="config.type == 'project'">
		<!-- TODO questo input può avere diverse tipologie grafice di elementi selezionabili, quella commentata è con delle immagini grandi e un testo sottostante -->
		<div class="element" *ngFor="let element of config.elements" [ngClass]="{ 'selected': selected && selected.id == element.id }">
			<div class="padding-5">
				<div class="info">
					<img class="image" [src]="element.imgUrl" [alt]="element.imgAlt" (click)="selected = element">
					<div class="title text-ellipsis padding-left-15">
						<a class="text-ellipsis" [href]="element.href" target="_blank">{{element.title | stranslate}}</a>
					</div>
				</div>
				<progress-bar class="margin-top-5" [config]="element.progressBarConfig"></progress-bar>
			</div>
			<div class="selected-box">
				<i class="fa fa-check-circle-o text-color-white"></i>
			</div>
		</div>
	</div>

</div>

<div class="modal-footer">
    <div class="row">
        <div class="col-lg-12 text-center">
            <button type="button" class="btn btn-success btn-xs-block" [disabled]="!selected" (click)="confirm()" translate>Confirm</button>
        </div>
    </div>
</div>