@import "~app/sass/const.scss";

:host {

	.file-thumb {
	
		.file {
			width: 200px;
			height: 200px;
			margin: 0 auto;
			border: 3px solid $yellow;
			border-radius: 10px;
	
			i {
				display: block;
				margin-top: 87px;
				transform: translateY(-50%);
				font-size: 500%;
			}
	
			h4 {
				transform: translateY(-75%);
			}
		}
	
		.image {
			width: 250px;
			margin: 0 auto;
			border: 3px solid $yellow;
			border-radius: 10px;
			cursor: pointer;
	
			img {
				width: 100%;
			}
		}
	}
}