<!-- This is a dummy file to force the translation of some text -->

<span translate>Organization username</span>
<span translate>Username</span>

<!-- User types --> 
<span translate>company</span>
<span translate>municipality</span>
<span translate>school</span>
<span translate>park</span>
<span translate>cultural</span>
<span translate>hospital</span>
<span translate>civil protection</span>
<span translate>npo</span>
<span translate>non-profit organization</span>
<span translate>user</span>

<span translate>Art</span>
<span translate>Education</span>
<span translate>Environment</span>
<span translate>Health</span>
<span translate>Heritage</span>
<span translate>Human Rights</span>
<span translate>Natural Disaster Prevention</span>
<span translate>Natural Disaster Recovery</span>
<span translate>Poverty</span>
<span translate>Refugees</span>
<span translate>Sport</span>
<span translate>Wildlife</span>

<span translate>Earthquake</span>
<span translate>earthquake</span>

<!-- Page titles -->
<span translate>Propose an organization</span>
<span translate>Proposed NPO</span>
<span translate>Propose an organization</span>
<span translate>Proposed NPO</span>
<span translate>Project table</span>
<span translate>Project list</span>
<span translate>Project table</span>
<span translate>Project list</span>
<span translate>Project</span>
<span translate>Project</span>
<span translate>Project</span>
<span translate>Project</span>
<span translate>Campaign</span>
<span translate>Fundraising Campaign</span>
<span translate>Your projects</span>
<span translate>Projects</span>
<span translate>Donation graph</span>
<span translate>Donation Graph</span>
<span translate>Donation graph</span>
<span translate>Donation Graph</span>
<span translate>Your campaigns</span>
<span translate>My Fundraising Campaigns</span>
<span translate>Event Simulation Tool</span>
<span translate>Event Simulation Tool</span>
<span translate>Event by map</span>
<span translate>Event Map</span>
<span translate>Event table</span>
<span translate>Main Event List</span>
<span translate>Event table</span>
<span translate>Main Event List</span>
<span translate>Event</span>
<span translate>Event</span>
<span translate>Event</span>
<span translate>Event</span>
<span translate>Event</span>
<span translate>Event Donation</span>
<span translate>Event</span>
<span translate>Event</span>
<span translate>Donation statistics</span>
<span translate>Statistics</span>
<span translate>Top donors</span>
<span translate>Top donors</span>
<span translate>Top donors</span>
<span translate>Top donors</span>
<span translate>Donation graph</span>
<span translate>Donation graph</span>
<span translate>Organization list</span>
<span translate>Organization list</span>
<span translate>Organization list</span>
<span translate>Organization list</span>
<span translate>Organization list</span>
<span translate>Organization list</span>
<span translate>Home</span>
<span translate>Home</span>
<span translate>Profile</span>
<span translate>User Information</span>
<span translate>User</span>
<span translate>User Information</span>
<span translate>Donation graph</span>
<span translate>Donation graph</span>
<span translate>Donation</span>
<span translate>Donation</span>
<span translate>Donation</span>
<span translate>Gift Donation</span>
<span translate>Donation</span>
<span translate>Donation</span>
<span translate>Transaction</span>
<span translate>Transaction</span>
<span translate>Login</span>
<span translate>Login Form</span>
<span translate>Password recovery</span>
<span translate>Recovery</span>
<span translate>Password recovery</span>
<span translate>Recovery</span>
<span translate>Signup</span>
<span translate>Signup Form</span>
<span translate>Signup</span>
<span translate>Signup Form</span>
<span translate>Profile delete</span>
<span translate>Delete Account</span>
<span translate>Profile edit</span>
<span translate>User Information</span>
<span translate>Control panel</span>
<span translate>Control Panel</span>
<span translate>Profile privacy</span>
<span translate>Privacy</span>
<span translate>Profile security</span>
<span translate>Security</span>
<span translate>Profile geolocalization</span>
<span translate>Geolocalization</span>
<span translate>Profile verification</span>
<span translate>Verification</span>
<span translate>Invoiceable donations</span>
<span translate>Invoiceable Donations</span>
<span translate>Profile admins</span>
<span translate>Administration</span>
<span translate>Notifications</span>
<span translate>Notifications</span>
<span translate>Ambassador</span>
<span translate>Ambassador</span>
<span translate>Badges</span>
<span translate>Badges</span>
<span translate>Top Ambassadors</span>
<span translate>Top Ambassadors</span>
<span translate>Top Ambassadors</span>
<span translate>Top Ambassadors</span>
    <span translate>Profile edit</span>
    <span translate>User Information</span>
<span translate>Requests of refund</span>
<span translate>Refund Claims</span>
<span translate>Wallet</span>
<span translate>Wallet</span>
<span translate>Wallet creation</span>
<span translate>Wallet creation</span>
<span translate>Wallet creation</span>
<span translate>Multisig Wallet Creation</span>
<span translate>Transaction sign</span>
<span translate>Feed Multisig Wallet</span>
<span translate>Restore Wallet</span>
<span translate>Wallet Restore</span>
<span translate>Donate</span>
<span translate>Donate</span>
<span translate>About</span>
<span translate>About</span>
<span translate>Cookies</span>
<span translate>Cookies Policy</span>
<span translate>Helperbit\'s Manifesto</span>
<span translate>Helperbit\'s Manifesto</span>
<span translate>Multisignature Bitcoin Wallet</span>
<span translate>Multisignature Bitcoin Wallet</span>
<span translate>Donations</span>
<span translate>Donations</span>
<span translate>Advanced Donations</span>
<span translate>Advanced Donations</span>
<span translate>Geolocation</span>
<span translate>Geolocation</span>
<span translate>Propose Non-Profit Organizations</span>
<span translate>Propose Non-Profit Organizations</span>
<span translate>Verification and Trust Level of a single user</span>
<span translate>Verification and Trust Level of a single user</span>
<span translate>Create a Social Project</span>
<span translate>Create a Social Project</span>
<span translate>Fundraising Campaigns</span>
<span translate>Fundraising Campaigns</span>
<span translate>Verification process for a Legal Body</span>
<span translate>Verification process for a Legal Body</span>
<span translate>Ambassador</span>
<span translate>Ambassador</span>
<span translate>Badges</span>
<span translate>Badges</span>
<span translate>Donation flow</span>
<span translate>Donation flow</span>
<span translate>Donation flow</span>
<span translate>Donation flow</span>
<span translate>Error</span>
<span translate>Error</span>
<span translate>Privacy policy</span>
<span translate>Privacy</span>
<span translate>Privacy policy history</span>
<span translate>Privacy policy history</span>
<span translate>Terms of service</span>
<span translate>Terms</span>
<span translate>Open job positions</span>
<span translate>Jobs</span>
<span translate>Organization signup</span>
<span translate>NPO Signup</span>

<!-- Country names -->
<span translate translate-context="country">Caribbean Sea</span> <span translate translate-context="country">Artic Ocean</span> <span translate translate-context="country">Arafura Sea</span> <span translate translate-context="country">Arabian Sea</span>
<span translate translate-context="country">Barentsz Sea</span> <span translate translate-context="country">Bay of Bengal</span> <span translate translate-context="country">Caribbean Sea</span> <span translate translate-context="country">Chukchi Sea</span>
<span translate translate-context="country">Coral Sea</span> <span translate translate-context="country">North Pacific Ocean</span> <span translate translate-context="country">Davis Strait</span> <span translate translate-context="country">Eastern China Sea</span>
<span translate translate-context="country">East Siberian Sea</span> <span translate translate-context="country">Great Australian Bight</span> <span translate translate-context="country">Gulf of Guinea</span>
<span translate translate-context="country">Gulf of Mexico</span> <span translate translate-context="country">Greenland Sea</span> <span translate translate-context="country">Indian Ocean</span> <span translate translate-context="country">Japan Sea</span>
<span translate translate-context="country">Labrador Sea</span> <span translate translate-context="country">Laccadive Sea</span> <span translate translate-context="country">Caribbean Sea</span> <span translate translate-context="country">Mozambique Channel</span>
<span translate translate-context="country">North Atlantic Ocean</span> <span translate translate-context="country">Norwegian Sea</span> <span translate translate-context="country">North Pacific Ocean</span> <span translate translate-context="country">Philippine Sea</span>
<span translate translate-context="country">South Atlantic Ocean</span> <span translate translate-context="country">South China Sea</span> <span translate translate-context="country">Southern Ocean</span> <span translate translate-context="country">Sea of Okhotsk</span>
<span translate translate-context="country">South Pacific Ocean</span> <span translate translate-context="country">Caribbean Sea</span> <span translate translate-context="country">Tasman Sea</span> <span translate translate-context="country">Timor Sea</span>
<span translate translate-context="country">Algeria</span> <span translate translate-context="country">Angola</span> <span translate translate-context="country">Egypt</span>  
<span translate translate-context="country">Bangladesh</span> <span translate translate-context="country">Liechtenstein</span> <span translate translate-context="country">Somalia</span> <span translate translate-context="country">Namibia</span>
<span translate translate-context="country">Bulgaria</span> <span translate translate-context="country">Bolivia</span> <span translate translate-context="country">Ghana</span> <span translate translate-context="country">Cocos (Keeling)Islands</span>
<span translate translate-context="country">Pakistan</span> <span translate translate-context="country">Cape Verde</span> <span translate translate-context="country">Jordan</span>  
<span translate translate-context="country">Liberia</span> <span translate translate-context="country">Libya</span> <span translate translate-context="country">Malaysia</span> <span translate translate-context="country">British Indian Ocean Territory</span>
<span translate translate-context="country">Puerto Rico</span> <span translate translate-context="country">Mayotte</span> <span translate translate-context="country">Korea, Democratic People's Republic of</span>
<span translate translate-context="country">Tanzania, United Republic of</span>  
<span translate translate-context="country">Botswana</span> <span translate translate-context="country">Cambodia</span> <span translate translate-context="country">Paraguay</span> <span translate translate-context="country">Hong Kong</span>  
<span translate translate-context="country">Saudi Arabia</span> <span translate translate-context="country">Lebanon</span> <span translate translate-context="country">Slovenia</span> <span translate translate-context="country">Burkina Faso</span>
<span translate translate-context="country">Slovakia</span> <span translate translate-context="country">Mauritania</span> <span translate translate-context="country">Croatia</span> <span translate translate-context="country">Chile</span>
<span translate translate-context="country">China</span> <span translate translate-context="country">Saint Kitts and Nevis</span> <span translate translate-context="country">Jamaica</span>  
<span translate translate-context="country">Gibraltar</span> <span translate translate-context="country">Djibouti</span> <span translate translate-context="country">Guinea</span> <span translate translate-context="country">R\u00e9union</span>  
<span translate translate-context="country">Finland</span> <span translate translate-context="country">Uruguay</span> <span translate translate-context="country">Holy See (Vatican City)</span>  
<span translate translate-context="country">Seychelles</span> <span translate translate-context="country">Nepal</span> <span translate translate-context="country">Christmas Island</span> <span translate translate-context="country">Morocco</span>
<span translate translate-context="country">Yemen</span> <span translate translate-context="country">Bouvet Island</span> <span translate translate-context="country">South Africa</span>  
<span translate translate-context="country">Kiribati</span> <span translate translate-context="country">Philippines</span> <span translate translate-context="country">Montenegro</span> <span translate translate-context="country">Virgin Islands, U.S.</span>
<span translate translate-context="country">Syrian Arab Republic</span> <span translate translate-context="country">Macao</span> <span translate translate-context="country">Nicaragua</span>
<span translate translate-context="country">Kazakhstan</span> <span translate translate-context="country">Mongolia</span> <span translate translate-context="country">French Polynesia</span>  
<span translate translate-context="country">Niue</span> <span translate translate-context="country">Ireland</span> <span translate translate-context="country">Dominica</span> <span translate translate-context="country">Benin</span> <span translate translate-context="country">French Guiana</span>
<span translate translate-context="country">Belgium</span> <span translate translate-context="country">Germany</span> <span translate translate-context="country">Guam</span> <span translate translate-context="country">Sri Lanka</span>
<span translate translate-context="country">Falkland Islands (Islas Malvinas)</span> <span translate translate-context="country">United Kingdom</span>
<span translate translate-context="country">Bonaire, Sint Eustatius and Saba</span> <span translate translate-context="country">Guyana</span> <span translate translate-context="country">Costa Rica</span>
<span translate translate-context="country">Ethiopia</span> <span translate translate-context="country">Northern Mariana Islands</span> <span translate translate-context="country">United States Minor Outlying Islands</span>
<span translate translate-context="country">Hungary</span> <span translate translate-context="country">Turkmenistan</span>
<span translate translate-context="country">Trinidad and Tobago</span> <span translate translate-context="country">Netherlands</span> <span translate translate-context="country">Comoros</span>  
<span translate translate-context="country">Bermuda</span> <span translate translate-context="country">Heard Island and McDonald Islands</span> <span translate translate-context="country">Chad</span>  
<span translate translate-context="country">Georgia</span> <span translate translate-context="country">Romania</span> <span translate translate-context="country">Turks and Caicos Islands</span>  
<span translate translate-context="country">Marshall Islands</span> <span translate translate-context="country">Mali</span> <span translate translate-context="country">Belize</span> <span translate translate-context="country">Burundi</span>  
<span translate translate-context="country">Sweden</span> <span translate translate-context="country">Afghanistan</span> <span translate translate-context="country">Norfolk Island</span> <span translate translate-context="country">Virgin Islands, British</span>
<span translate translate-context="country">Belarus</span> <span translate translate-context="country">Saint Barth\u00e9lemy</span>  
<span translate translate-context="country">Grenada</span> <span translate translate-context="country">\u00c5land Islands</span> <span translate translate-context="country">Greece</span> <span translate translate-context="country">Russian Federation</span>
<span translate translate-context="country">Greenland</span> <span translate translate-context="country">Saint Helena, Ascension and Tristan da Cunha</span>
<span translate translate-context="country">Andorra</span> <span translate translate-context="country">Mozambique</span> <span translate translate-context="country">Argentina</span>  
<span translate translate-context="country">Tajikistan</span> <span translate translate-context="country">Thailand</span> <span translate translate-context="country">Haiti</span> <span translate translate-context="country">Palestine, State of</span>
<span translate translate-context="country">Saint Lucia</span> <span translate translate-context="country">India</span> <span translate translate-context="country">South Sudan</span> <span translate translate-context="country">Bhutan</span>
<span translate translate-context="country">Saint Vincent and the Grenadines</span> <span translate translate-context="country">Viet Nam</span> <span translate translate-context="country">Norway</span>
<span translate translate-context="country">Czech Republic</span> <span translate translate-context="country">French Southern and Antarctic Lands</span>  
<span translate translate-context="country">Antigua and Barbuda</span> <span translate translate-context="country">Fiji</span> <span translate translate-context="country">Honduras</span> <span translate translate-context="country">Mauritius</span>
<span translate translate-context="country">Dominican Republic</span> <span translate translate-context="country">Luxembourg</span> <span translate translate-context="country">Israel</span> <span translate translate-context="country">San Marino</span>
<span translate translate-context="country">Peru</span> <span translate translate-context="country">Sint Maarten (Dutch part)</span>  
<span translate translate-context="country">Indonesia</span> <span translate translate-context="country">Vanuatu</span> <span translate translate-context="country">Equatorial Guinea</span> <span translate translate-context="country">Suriname</span>
<span translate translate-context="country">Congo, Republic of the (Brazzaville)</span> <span translate translate-context="country">Iceland</span>  
<span translate translate-context="country">Guadeloupe</span> <span translate translate-context="country">Gabon</span> <span translate translate-context="country">Cook Islands</span> <span translate translate-context="country">Niger</span>  
<span translate translate-context="country">Colombia</span> <span translate translate-context="country">Nigeria</span> <span translate translate-context="country">Portugal</span> <span translate translate-context="country">Nauru</span>  
<span translate translate-context="country">Moldova</span> <span translate translate-context="country">Guernsey</span> <span translate translate-context="country">Madagascar</span> <span translate translate-context="country">Antarctica</span>  
<span translate translate-context="country">Ecuador</span> <span translate translate-context="country">Senegal</span> <span translate translate-context="country">New Zealand</span> <span translate translate-context="country">Maldives</span>  
<span translate translate-context="country">American Samoa</span> <span translate translate-context="country">Saint Pierre and Miquelon</span> <span translate translate-context="country">Timor-Leste</span>
<span translate translate-context="country">France</span> <span translate translate-context="country">Lithuania</span> <span translate translate-context="country">Rwanda</span> <span translate translate-context="country">Zambia</span>  
<span translate translate-context="country">Taiwan</span> <span translate translate-context="country">Wallis and Futuna</span> <span translate translate-context="country">Jersey</span>
<span translate translate-context="country">Faroe Islands</span> <span translate translate-context="country">Guatemala</span> <span translate translate-context="country">Denmark</span>  
<span translate translate-context="country">Zimbabwe</span> <span translate translate-context="country">Saint Martin (French part)</span> <span translate translate-context="country">Australia</span>  
<span translate translate-context="country">Austria</span> <span translate translate-context="country">Svalbard and Jan Mayen</span> <span translate translate-context="country">Venezuela, Bolivarian Republic of</span>
<span translate translate-context="country">Iran, Islamic Republic of</span> <span translate translate-context="country">Palau</span>  
<span translate translate-context="country">Kenya</span> <span translate translate-context="country">Laos</span> <span translate translate-context="country">Samoa</span> <span translate translate-context="country">Turkey</span>
<span translate translate-context="country">Albania</span> <span translate translate-context="country">Oman</span> <span translate translate-context="country">Tuvalu</span> <span translate translate-context="country">Myanmar</span>  
<span translate translate-context="country">Brunei Darussalam</span> <span translate translate-context="country">Tunisia</span> <span translate translate-context="country">Pitcairn</span> 
<span translate translate-context="country">Brazil</span> <span translate translate-context="country">Canada</span> <span translate translate-context="country">Cura\u00e7ao</span> <span translate translate-context="country">Macedonia, Former Yugoslav Republic of</span>
<span translate translate-context="country">United States of America</span>  
<span translate translate-context="country">Qatar</span> <span translate translate-context="country">Latvia</span> <span translate translate-context="country">Montserrat</span> <span translate translate-context="country">Guinea-Bissau</span>  
<span translate translate-context="country">Swaziland</span> <span translate translate-context="country">Tonga</span> <span translate translate-context="country">C\u00f4te d'Ivoire, Republic of</span>  
<span translate translate-context="country">Ukraine</span> <span translate translate-context="country">Korea, Republic of</span> <span translate translate-context="country">Anguilla</span> <span translate translate-context="country">Central African Republic</span>
<span translate translate-context="country">Switzerland</span> <span translate translate-context="country">Cyprus</span> <span translate translate-context="country">Bosnia and Herzegovina</span>
<span translate translate-context="country">Singapore</span> <span translate translate-context="country">South Georgia and South Sandwich Islands</span>
<span translate translate-context="country">Azerbaijan</span> <span translate translate-context="country">Uzbekistan</span> <span translate translate-context="country">Cameroon</span>  
<span translate translate-context="country">Serbia</span> <span translate translate-context="country">Poland</span> <span translate translate-context="country">Kuwait</span> <span translate translate-context="country">Gambia, The</span>  
<span translate translate-context="country">Eritrea</span> <span translate translate-context="country">New Caledonia</span> <span translate translate-context="country">Togo</span> <span translate translate-context="country">Cayman Islands</span>
<span translate translate-context="country">Estonia</span> <span translate translate-context="country">Malawi</span> <span translate translate-context="country">Spain</span> <span translate translate-context="country">Iraq</span> <span translate translate-context="country">El Salvador</span>
<span translate translate-context="country">Martinique</span> <span translate translate-context="country">Sao Tome and Principe</span>  
<span translate translate-context="country">Malta</span> <span translate translate-context="country">Aruba</span> <span translate translate-context="country">Sierra Leone</span> <span translate translate-context="country">Isle of Man</span>  
<span translate translate-context="country">Panama</span> <span translate translate-context="country">Bahamas</span> <span translate translate-context="country">Solomon Islands</span> <span translate translate-context="country">Western Sahara</span>
<span translate translate-context="country">Monaco</span>  <span translate translate-context="country">Congo, the Democratic Republic of the (Kinshasa)</span>
<span translate translate-context="country">Barbados</span> <span translate translate-context="country">Kyrgyzstan</span> <span translate translate-context="country">Armenia</span>  
<span translate translate-context="country">Uganda</span> <span translate translate-context="country">Micronesia, Federated States of</span> <span translate translate-context="country">United Arab Emirates</span>
<span translate translate-context="country">Lesotho</span> <span translate translate-context="country">Sudan</span> <span translate translate-context="country">Bahrain</span>  
<span translate translate-context="country">Tokelau</span> <span translate translate-context="country">Papua New Guinea</span> <span translate translate-context="country">Cuba</span>
<span translate translate-context="country">Italy</span> <span translate translate-context="country">Papua New Guinea</span> <span translate translate-context="country">Mexico</span> <span translate translate-context="country">Japan</span>
<span translate translate-context="country">World</span>