@import "~app/sass/const.scss";

.sticky-block {
	position: sticky;
	top: 0;

	@media screen and (max-width: #{$breakpointSmMax}) {
		position: unset;
	}
}

ul {
	li {
		width: 99%;

		&.active {
			width: 100%;
		}
	}
}

.news {		
	img {
		width: 100%;
		height: 250px;

		@media screen and (max-width: #{$breakpointXsMax}) {
			height: auto;
			max-height: 250px;
		}
	}
}